@import "~bootstrap/scss/bootstrap.scss";
//  @import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";

body, html {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	background-color: #dfdfdf;
}

button:focus {
	outline: none;
}

.editor-container {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	> div:first-child > button {
		margin: 5px;
		border: none;
		outline: none;
		background: transparent;
		> i {
			color: #888888;
			transition: 0.3s;
		}
		> i:hover {
			color: #000000;
		}
	}
	.top-fixed-box {
		position: fixed;
		width: fit-content;
		top: 0;
		left: 30%;
		background: rgb(255, 255, 255);
		box-shadow: 0 0 5px 1px #dfdfdf;
		z-index: 999;
	}
}

.page {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	min-height: 1200px;
	padding: 15px;
	background-color: #ffffff;
	margin-bottom: 50px;
	border: 1px solid #bebebe;
	position: relative;
	> button {
		margin-bottom: 20px;
		background-color: #ffffff;
		border: none;
		outline: none;
		> i {
			color:#dfdfdf;
			transition-duration: 0.3s;
		}
		> i:hover {
			color:#000000;
		}
	}
	> p {
		position: absolute;
		bottom: 0;
		left: 50%;
	}
	.line-container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		margin-bottom: 50px;
		animation-duration: 0.5s!important;
		animation-fill-mode: none!important;
		-webkit-animation-fill-mode: none!important;
		position: relative;
		.editable-content {
			width: 100%;
			float: right;
			color: black;
			padding: 5px;
			direction: rtl;
			border-bottom: 2px solid #acacac;
			text-align: right;
			outline: none;
			max-width: 95%;
			    padding-right: 20px;
			> p {
				font-size: 16px;
			}
			> h1 {
				font-size: 26px;
			}
			> h2 {
				font-size: 24px;
			}
			> h3 {
				font-size: 22px;
			}
			> h4 {
				font-size: 20px;
			}
			> h5 {
				font-size: 18px;
			}
			> h6 {
				font-size: 17px;
			}
		}
		.editable-content:focus {
			border-bottom-color: #92b0d8;
		}
		> button {
			flex: 0.1;
			background-color: transparent;
			border: none;
			outline: none;
			height: fit-content;
			> i {
				color: #acacac;
				transition-duration: 0.3s;
				height: fit-content;
			}
			> i:hover {
				color: #000000;
				height: fit-content;
			}
		}
		.delete-line {
			z-index: 2;
			opacity: 0;
			padding-top: 10px;
			background-color: transparent;
			position: absolute;
			bottom: 20px;
			left: 20px;
			transition: .3s;
			> i {
				font-size: 20px;
			}
		}
		.delete-line:hover {
			opacity: 1;
		}
	}
}
.dropbtn {
	background-color: transparent;
	color: #dfdfdf;
	padding: 8px;
	font-size: 16px;
	border: none;
	transition-duration: 0.3s;
	outline: none;
	i {
		font-size: 18px;
	}
}
.dropdown {
	position: relative;
	display: inline-block;
	margin-left: -20px;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 7;
	h1 {
		font-size: 26px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 22px;
	}
	h4 {
		font-size: 20px;
	}
	h5 {
		font-size: 18px;
	}
	h6 {
		font-size: 17px;
	}
	p {
		font-size: 16px;
	}
	h1,h2,h3,h4,h5,h6,p {
		color: black;
		padding: 4px 8px;
		text-decoration: none;
		display: block;
	}
	h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, p:hover {
		background-color: #ddd;
		cursor: pointer;
	}
}
.dropdown:hover {
	.dropdown-content {
		display: block; z-index: 20; right: -100%;
	}
	.dropdown:hover .dropbtn {
		color: #000000;
	}
}